body {
  font-family: 'Arial', sans-serif;
    background-color: yellow;
}


li {
  list-style: none;
}

li.players-list-item {
    margin: 20px;
    text-align: center;
    width: 150px;
    padding: 20px;
    background-color: darkorange;
    border-radius: 20px;
}
